<div>
    <h1>Welcome to Uronic</h1>
    <p><i>CEO: Dr Arshia Arzan Pour 6654031</i></p>

    <p>Our private urology clinic in London uses the latest techniques to give you the best diagnosis, 
    intervention and aftercare for any urology problem you may be suffering from, allowing you to get back to your normal life as soon as possible. 
    We provide our urology Consultants with the most modern diagnostic equipment, so they can quickly find out what’s wrong. 
    They also have four operating theatres at their disposal to carry out procedures, which cuts waiting times.
    You will enjoy the unique, family atmosphere of our hospital and its luxurious surroundings, making your stay as pleasant as possible.</p>
</div>

<div>
<button class="btn btn-secondary"><%= link_to "Make A New Appointment", new_patient_path, class:"nav-link", style:"color: white; font-weight: bold;" %></button>
<button class="btn btn-secondary"><%= link_to "Contact us", new_contact_path, class:"nav-link btn btn-secondary", style:"color: white; font-weight: bold;" %></button>
</div>

